<!doctype html>
<html>
<head lang="en">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Don't Fret</title>
	<meta name="description" content="Don't Fret - A guitar pedal recommender" />
	<meta name="author" content="Stephanie Peña">

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/fancybox/jquery.fancybox-v=2.1.5.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">

	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link id="data-types_style" type="text/css" rel="stylesheet" href="../static/css/tablefilter.css">
	<!-- <link rel="prefetch" href="../static/images/zoom.png"> -->

</head>

<body>
	<div class="navbar navbar-fixed-top" data-activeslide="1">
		<div class="container">

			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>


			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav row">
					<li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-2" href='../' onclick="location.reload();location.href='../'" title="Next Section"><span class="icon icon-home"></span> <span class="text">HOME</span></a></li>
					<li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-2" title="Next Section"><span class="icon icon-user"></span> <span class="text">QUESTIONNAIRE</span></a></li>
					<!-- <li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">PROJECTS</span></a></li> -->
					<li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-4" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
				</ul>
				<div class="row">
					<div class="col-sm-2 active-menu"></div>
				</div>
			</div><!-- /.nav-collapse -->
		</div><!-- /.container -->
	</div><!-- /.navbar -->



	<!-- === MAIN Background === -->
	<div class="slide story" id="slide-1" data-slide="1">
		<div class="container">
			<div id="home-row-1" class="row clearfix">
				<div class="col-12">
					<h1 class="font-thin">DON'T <span class="font-semibold">FRET</span></h1>
					<h4 class="font-thin"><span class="font-semibold">A Guitar Pedal Recommender</span> </h4>
					<br>
					<br>
				</div><!-- /col-12 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide1 -->


	<!-- === Slide 2 === -->
  <!-- Questionnaire Section -->
	<div class="slide story" id="slide-2" data-slide="2">
		<link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.css" rel="stylesheet"/>
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-semibold">Questionnaire</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-12 font-thin">Answer questions below to view recommended pedals:</div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="form-group">
					<div class="ui-widget">
					  <label for="genretags">Select the preferred genre(s) for your style of play:
							<br>Enter multiple values separated by a comma</label><br>
					  <input id="genretags" size="50" placeholder="Choose value(s) from existing set"><br><br>
						<label for="artisttags">Select your artist/musician influence(s):
							<br>Enter multiple values separated by a comma</label><br>
						<input id="artisttags" size="50" placeholder="Choose value(s) from existing set"><br><br>
						<label for ="brandtags">Select any existing pedal(s) you own:</label>
						<button id="addMore">Add Pedal</button>
							<div class="linedrop">
									<label>Brand</label>
							    <select id="brand" class="brand" name="brand">
							        <option></option>
											<option>2 Note</option>
											<option>3Leaf</option>
											<option>4114 Custom Effects</option>
											<option>A/DA</option>
											<option>Abbott's Music</option>
											<option>Adventure Audio</option>
											<option>AER</option>
											<option>Aguilar</option>
											<option>Aion</option>
											<option>Airis Effects</option>
											<option>Akai</option>
											<option>Alien</option>
											<option>Ampeg</option>
											<option>AmpRx</option>
											<option>Amptweaker</option>
											<option>AMT Electronics</option>
											<option>Analogman</option>
											<option>Anasounds</option>
											<option>Aphex</option>
											<option>Arbiter</option>
											<option>ARC Effects</option>
											<option>Arion</option>
											<option>Artec</option>
											<option>Ashdown Engineering</option>
											<option>Atomic Amps</option>
											<option>Austone</option>
											<option>AYA</option>
											<option>Bad Cat</option>
											<option>Banzai</option>
											<option>Barbarossa</option>
											<option>Barber</option>
											<option>Basic</option>
											<option>BBE</option>
											<option>BearFoot FX</option>
											<option>Behringer</option>
											<option>Belcat</option>
											<option>Bell ADT</option>
											<option>Berkos FX</option>
											<option>Beta Aivin</option>
											<option>Big Ear N.Y.C.</option>
											<option>Big Joe Stomp Box Company</option>
											<option>Bigfoot FX</option>
											<option>Binson</option>
											<option>Bixonic</option>
											<option>Biyang</option>
											<option>BJFE</option>
											<option>BK Butler</option>
											<option>Black Arts Toneworks</option>
											<option>Black Cats</option>
											<option>Black Out</option>
											<option>Blackout Effectors</option>
											<option>Blackstar</option>
											<option>Blackstone</option>
											<option>Blues Saraceno</option>
											<option>BMF Effects</option>
											<option>Bogner</option>
											<option>Bondi Effects</option>
											<option>Boomerang</option>
											<option>Boorocks</option>
											<option>Boss</option>
											<option>Bright Onion</option>
											<option>British Pedal Company</option>
											<option>Broadcast</option>
											<option>BSS</option>
											<option>Budda</option>
											<option>Buffalo Audio</option>
											<option>Buffalo FX</option>
											<option>Burkey</option>
											<option>BYOC</option>
											<option>CAE</option>
											<option>Caline</option>
											<option>Cameltone</option>
											<option>Carl Martin</option>
											<option>Carlin</option>
											<option>Caroline Guitar Company</option>
											<option>Catalinbread</option>
											<option>CFD</option>
											<option>Chadderbox</option>
											<option>Chandler</option>
											<option>Chase Bliss Audio</option>
											<option>Chicago Iron</option>
											<option>Chuck Collins</option>
											<option>CIOKS</option>
											<option>Circus Freak</option>
											<option>CKK Electronic</option>
											<option>Classic Audio Effects</option>
											<option>Cluster</option>
											<option>CMATMODS</option>
											<option>Coffin Case</option>
											<option>Colorsound</option>
											<option>Conn</option>
											<option>Coolpedals</option>
											<option>Coopersonic</option>
											<option>Cornish</option>
											<option>Crazy Tube Circuits</option>
											<option>Creation Audio Labs</option>
											<option>Crews Maniac Sound</option>
											<option>Crown</option>
											<option>Crowther</option>
											<option>Crumar</option>
											<option>Cruzer by Crafter</option>
											<option>Cult</option>
											<option>Cusack</option>
											<option>Custom Audio Electronics</option>
											<option>D'Amico</option>
											<option>Dallas</option>
											<option>Dan Armstrong</option>
											<option>Dan'amp</option>
											<option>Danelectro</option>
											<option>Darkglass</option>
											<option>DBX</option>
											<option>Dean Markley</option>
											<option>DeArmond</option>
											<option>Death by Audio</option>
											<option>Decibel Eleven</option>
											<option>Dedalo</option>
											<option>Deep Trip</option>
											<option>DeltaLab</option>
											<option>Demeter</option>
											<option>Devi Ever</option>
											<option>Diamond</option>
											<option>Diaz</option>
											<option>DigiTech</option>
											<option>Dinosaural</option>
											<option>Dirty Boy</option>
											<option>Divided by 13</option>
											<option>DLS</option>
											<option>DOD</option>
											<option>Donner</option>
											<option>Dr. Green</option>
											<option>Dr. No</option>
											<option>Dr. Scientist</option>
											<option>Drybell</option>
											<option>Duesenberg</option>
											<option>Dunlop</option>
											<option>Durham Electronics</option>
											<option>Dwarfcraft Devices</option>
											<option>Dynastar</option>
											<option>E.W.S.</option>
											<option>EAR-FUZZ</option>
											<option>Earthbound Audio</option>
											<option>EarthQuaker Devices</option>
											<option>EBS</option>
											<option>Ebtech</option>
											<option>Echoplex</option>
											<option>Effectrode</option>
											<option>Electro-Faustus</option>
											<option>Electro-Harmonix</option>
											<option>Emerson Custom</option>
											<option>Emma</option>
											<option>Empress</option>
											<option>EMS</option>
											<option>EMT</option>
											<option>Endangered Audio Research</option>
											<option>Eno</option>
											<option>Enormous Door</option>
											<option>Ernie Ball</option>
											<option>Eventide</option>
											<option>EWS</option>
											<option>F.E.T.</option>
											<option>Fairfield Circuitry</option>
											<option>Fastback</option>
											<option>Fender</option>
											<option>Fire</option>
											<option>Fire Custom</option>
											<option>Fishman</option>
											<option>Flannel Custom</option>
											<option>Flynn Amps</option>
											<option>FMR Audio</option>
											<option>Focusrite</option>
											<option>Foxpedal</option>
											<option>Foxrox</option>
											<option>Foxx Tone</option>
											<option>Framptone</option>
											<option>Frantone</option>
											<option>Free the Tone</option>
											<option>Fridgebuzzz</option>
											<option>Friedman</option>
											<option>Frontline</option>
											<option>Fryer</option>
											<option>Fuchs</option>
											<option>Fuhrmann</option>
											<option>Fulltone</option>
											<option>Fuzzrocious</option>
											<option>G-Lab</option>
											<option>GNI</option>
											<option>Gnomeratron</option>
											<option>Gollmer</option>
											<option>Goodrich</option>
											<option>Goran</option>
											<option>Greed Tone</option>
											<option>Green Carrot Pedals</option>
											<option>Green Machine</option>
											<option>Greenhouse</option>
											<option>Greer Amps</option>
											<option>Greg Fryer</option>
											<option>Guitar Systems</option>
											<option>Guitar Tone Company</option>
											<option>Gurus</option>
											<option>Guyatone</option>
											<option>Hallmark</option>
											<option>Harben Audio</option>
											<option>Hartman</option>
											<option>HAZ Labs</option>
											<option>Heavy Electronics</option>
											<option>Heptode Virtuoso</option>
											<option>Hermida Audio</option>
											<option>Hexe</option>
											<option>Hilton Electronics</option>
											<option>Himmelstrutz</option>
											<option>Hiwatt</option>
											<option>Holy Fire</option>
											<option>Homebrew Electronics</option>
											<option>Honda Sound Works</option>
											<option>Horizon Devices</option>
											<option>Hotone</option>
											<option>Hudson Electronics</option>
											<option>Hughes & Kettner</option>
											<option>Human Gear</option>
											<option>Hungry Robot Pedals</option>
											<option>Ibanez</option>
											<option>Idiotbox</option>
											<option>Interfax</option>
											<option>ISP Technologies</option>
											<option>J. Rockett Audio Designs</option>
											<option>Jack Deville</option>
											<option>Jacques</option>
											<option>Jam Pedals</option>
											<option>Janglebox</option>
											<option>Jen</option>
											<option>Jetter</option>
											<option>JHS</option>
											<option>Jim Dunlop</option>
											<option>Joe Gore</option>
											<option>Joemeek</option>
											<option>Joyo</option>
											<option>Joyo Voodoo</option>
											<option>Keeler</option>
											<option>Keeley</option>
											<option>KHDK</option>
											<option>Kikusui</option>
											<option>Kingsley</option>
											<option>Klemt</option>
											<option>Klon</option>
											<option>Korg</option>
											<option>KR</option>
											<option>Landscape Organic</option>
											<option>Lastgasp Art Laboratories</option>
											<option>Lazy J</option>
											<option>Lead Foot</option>
											<option>Lehle</option>
											<option>Lex Bos</option>
											<option>Lexicon</option>
											<option>Line 6</option>
											<option>LocoBox</option>
											<option>Loud Button</option>
											<option>Lovepedal</option>
											<option>Lovetone</option>
											<option>Luck Ducks</option>
											<option>Machsonic</option>
											<option>Mad Professor</option>
											<option>Maestro</option>
											<option>Majik Box</option>
											<option>Malekko Heavy Industry</option>
											<option>Manlay</option>
											<option>Mantic Effects</option>
											<option>Marion Henry</option>
											<option>Marshall</option>
											<option>MASFs</option>
											<option>Mastro</option>
											<option>Matchless</option>
											<option>Matthew's Effects</option>
											<option>Maxon</option>
											<option>Maza FX</option>
											<option>MBS</option>
											<option>Menatone</option>
											<option>Mesa Boogie</option>
											<option>MG Music</option>
											<option>MI Audio</option>
											<option>Mica</option>
											<option>Mid-Fi Electronics</option>
											<option>Mission Engineering</option>
											<option>MJM</option>
											<option>MM-O3</option>
											<option>MMM</option>
											<option>Modtone</option>
											<option>Mojo Hand Fx</option>
											<option>Monster Effects</option>
											<option>Montgomery Applicances</option>
											<option>Montreal Assembly</option>
											<option>Mooer</option>
											<option>Moog</option>
											<option>MoogerFooger</option>
											<option>Moollon</option>
											<option>Morley</option>
											<option>Morpheus</option>
											<option>Mosrite</option>
											<option>Mr. Black</option>
											<option>Mu-FX</option>
											<option>Mu-Tron</option>
											<option>Musician Sound Design</option>
											<option>Musonic</option>
											<option>MWFX</option>
											<option>MXR</option>
											<option>Myrtles</option>
											<option>Nady</option>
											<option>Neo Instruments</option>
											<option>Neunaber</option>
											<option>NIG</option>
											<option>Nobels</option>
											<option>Nocturne</option>
											<option>Nux</option>
											<option>Oddfellow</option>
											<option>Okko</option>
											<option>Old Blood Noise Endeavors</option>
											<option>Old World</option>
											<option>One Control</option>
											<option>Onkart</option>
											<option>OohLaLa</option>
											<option>Option 5 Destination</option>
											<option>Orange Amplifiers</option>
											<option>Origin Effects</option>
											<option>Oxfuzz</option>
											<option>Panda Audio</option>
											<option>Paul Cochrane</option>
											<option>PCE</option>
											<option>Peavey</option>
											<option>Pedal Hole</option>
											<option>Pete Cornish</option>
											<option>Peterson</option>
											<option>Philly Fuzz</option>
											<option>Piggy FX</option>
											<option>Pigtronix</option>
											<option>Port City</option>
											<option>Prescription Electronics</option>
											<option>Pro Co</option>
											<option>Protone</option>
											<option>Protons</option>
											<option>Providence</option>
											<option>R3D Electronics</option>
											<option>Radial Engineering</option>
											<option>Rainger FX</option>
											<option>Rawkworks</option>
											<option>Real McCoy Custom</option>
											<option>Real Tube</option>
											<option>Realistic Electronic</option>
											<option>Reaper</option>
											<option>Reaper Pedals</option>
											<option>Red Panda</option>
											<option>Red Witch</option>
											<option>Retro-Sonic</option>
											<option>RimRock</option>
											<option>RMC</option>
											<option>Road Rage</option>
											<option>Rockbox</option>
											<option>Rockett</option>
											<option>Rockman</option>
											<option>Rocktron</option>
											<option>Rodenberg</option>
											<option>Roger Linn Design</option>
											<option>Roger Mayer</option>
											<option>Rogue</option>
											<option>Roland</option>
											<option>Rolls</option>
											<option>Root Effects</option>
											<option>Rosac Electronics</option>
											<option>Ross</option>
											<option>Rothwell</option>
											<option>Rotosound</option>
											<option>Sabbadius</option>
											<option>Salvation Mods</option>
											<option>Samson</option>
											<option>Sarno Music Solutions</option>
											<option>Satellite</option>
											<option>Saturnworks</option>
											<option>Schroeder</option>
											<option>Schulte</option>
											<option>Selah Effects</option>
											<option>Sentenza</option>
											<option>Seymour Duncan</option>
											<option>Shadow</option>
											<option>Shaftsbury</option>
											<option>Shigemori</option>
											<option>Shin-Ei</option>
											<option>Shin's Music</option>
											<option>Sho-Bud</option>
											<option>Shoe Pedals</option>
											<option>SIB</option>
											<option>Sitori Sonics</option>
											<option>Skreddy</option>
											<option>SM</option>
											<option>Smallsound/Bigsound</option>
											<option>Smart People Factory</option>
											<option>Snark</option>
											<option>Snarling Dogs</option>
											<option>Sobbat</option>
											<option>Sola Sound</option>
											<option>SolidGold FX</option>
											<option>SoloDallas</option>
											<option>Songworks</option>
											<option>Sonic Research</option>
											<option>Sonomatic</option>
											<option>Sonuus</option>
											<option>Sony</option>
											<option>Soundblox</option>
											<option>Source Audio</option>
											<option>Spaceman</option>
											<option>Spontaneous Audio Devices</option>
											<option>Stomp Under Foot</option>
											<option>Strymon</option>
											<option>SubDecay</option>
											<option>Suhr</option>
											<option>Sunrise</option>
											<option>Supreme</option>
											<option>Supro</option>
											<option>Swart</option>
											<option>Sweet Sound</option>
											<option>Swell</option>
											<option>T-Rex Engineering</option>
											<option>Tanabe.TV</option>
											<option>Tapco</option>
											<option>Taylor McGrath</option>
											<option>TC Electronic</option>
											<option>TC Helicon</option>
											<option>Tech 21</option>
											<option>Telenordia</option>
											<option>Teletronix</option>
											<option>Ten-Ten</option>
											<option>this1smyne</option>
											<option>ThorpyFX</option>
											<option>Tim Jauernig</option>
											<option>TMR</option>
											<option>Toad Works</option>
											<option>Tokai</option>
											<option>Tomkat</option>
											<option>Tone City</option>
											<option>Tone Concepts</option>
											<option>Tone Freak</option>
											<option>Tonebender</option>
											<option>Tonebone</option>
											<option>Toneconcepts</option>
											<option>Toneczar</option>
											<option>Tony City</option>
											<option>Top Tone</option>
											<option>Tortuga Effects</option>
											<option>Totally Wycked Audio</option>
											<option>Trombetta</option>
											<option>Truetone</option>
											<option>TSVG</option>
											<option>TWA</option>
											<option>Two Notes</option>
											<option>Tycobrahe</option>
											<option>Tym</option>
											<option>Univox</option>
											<option>Valbruch</option>
											<option>Van Weelden</option>
											<option>VanAmps</option>
											<option>Velvet</option>
											<option>Vemuram</option>
											<option>Vermona</option>
											<option>Vertex</option>
											<option>Visual Sound</option>
											<option>VL Effects</option>
											<option>Voodoo Lab</option>
											<option>Vox</option>
											<option>Wally</option>
											<option>Walrus Audio</option>
											<option>Wampler</option>
											<option>Warehouse</option>
											<option>Warp Sound</option>
											<option>Warren and Cuff</option>
											<option>Washburn</option>
											<option>Watkins</option>
											<option>Wattson</option>
											<option>Way Huge Electronics</option>
											<option>Weber</option>
											<option>Wells Amp</option>
											<option>Welsh</option>
											<option>WEM</option>
											<option>Westbury</option>
											<option>WGS</option>
											<option>Whirlwind</option>
											<option>Wilson Effects</option>
											<option>WMD</option>
											<option>Wren and Cuff</option>
											<option>Xotic Effects</option>
											<option>XTS</option>
											<option>Yamaha</option>
											<option>Zenkudo</option>
											<option>Zeta Systems</option>
											<option>Zinky</option>
											<option>Zoom</option>
											<option>ZVex</option>
							    </select>
								<label class="pedaltags">Pedal Name</label>
								<div class="secondval">
								    <select id="pedalname" class="pedalname"></select>
										<!-- <button id="remove">-</button> -->
								</div>
							</div>
					</div>
				</div>
				<button href="#" onclick='showTable();'>Get Recommendations!</button>
			<div class="row title-row">
				<br><br>
				<div class="col-12 font-semibold">Pedal Recommendations</div>
			</div><!-- /row -->
			<div class="row content-row">
				<div class="container table-data" id="table-data">
				<!--	<table id="data-types">
						<thead>
							<tr>
								<th>Brand</th>
								<th>Pedal</th>
								<th>Category</th>
								<th>Instrument</th>
								<th>Equipboard URL</th>
							</tr>
						</thead>
						<tbody>
							<tr class=" odd">
								<td>Boss</td>
								<td>AB-2</td>
								<td>AB Box</td>
								<td>Guitar</td>
								<td>http://equipboard.com/items/boss-ab-2</td>
							</tr>
							<tr class=" even">
								<td>Boss</td>
								<td>AC-2</td>
								<td>Acoustic Simulator</td>
								<td>Guitar</td>
								<td>http://equipboard.com/items/boss-ac-2</td>
							</tr>
							<tr class=" even">
								<td>Boss</td>
								<td>AC-3 Acoustic Simulator</td>
								<td>Acoustic Simulator</td>
								<td>Guitar</td>
								<td>http://equipboard.com/items/boss-ac-3-acoustic...</td>
							</tr>
							<tr class=" odd">
								<td>Boss</td>
								<td>AP-2 Phase II</td>
								<td>Phaser</td>
								<td>Guitar</td>
								<td>http://equipboard.com/items/boss-ap-2-phase-ii</td>
							</tr>
							<tr class=" even">
								<td>Boss</td>
								<td>AW-2 Auto Wah Guitar</td>
								<td>Wah</td>
								<td>Guitar</td>
								<td>http://equipboard.com/items/boss-aw-2-auto-wah...</td>
							</tr>
						</tbody>
					<!-- </table> -->
					{% for table in tables %}
						{{ table|safe }}
					{% endfor %}
					<script src="http://koalyptus.github.io/TableFilter/tablefilter/tablefilter.js"></script>
					<script data-config>
						var tfConfig = {
								base_path: 'http://koalyptus.github.io/TableFilter/tablefilter/',
								alternate_rows: true,
								rows_counter: true,
								rows_counter_text: 'Pedals: ',
								btn_reset: true,
								btn_reset_text: "Clear",
								loader: true,
								no_results_message: true,

								// columns data types
								col_types: [
										'string',
										'string',
										'string',
										// { type: 'formatted-number', decimal: ',', thousands: '.' },
										// 'formatted-number', // defaults to '.' for decimal and ',' for thousands
										'string',
										'string'
										// { type: 'date', locale: 'fr' },
										// { type: 'date', locale: 'en-US' },
										// { type: 'date', locale: 'en-US', format: ['{dd}-{months}-{yyyy|yy}'] },
										// 'ipaddress'
								],

								extensions: [{ name: 'sort' }]
						};
						var tf = new TableFilter('data-types', tfConfig);
						tf.init();
					</script>
				</div>


			</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /slide2 -->




	<!-- === Slide 6 / Contact === -->
	<div class="slide story" id="slide-4" data-slide="4">
		<div class="container">
			<div class="row title-row">
				<div class="col-12 font-light">Want to contact Stephanie?</div>
			</div><!-- /row -->
			<div class="row line-row">
				<div class="hr">&nbsp;</div>
			</div><!-- /row -->
			<div class="row subtitle-row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<div class="col-12 col-sm-10 font-light">Reach Out!</div>
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
			<div id="contact-row-4" class="row">
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
				<!-- <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
					<span class="hover-text font-light ">+44 4839-4343</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
				</div>
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a href="mailto:stephaniebpena@gmail.com"><i class="icon icon-envelope"></i></a></p>
					<span class="hover-text font-light ">stephaniebpena@gmail.com</span></a>
				</div><!-- /col12 -->
				<!-- <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
					<span class="hover-text font-light ">London, England<br>zip code 98443</span></a>
				</div><!-- /col12 -->
				<!-- <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
					<span class="hover-text font-light ">facebook/blacktie_co</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="https://www.linkedin.com/in/stephanie-pe%C3%B1a/"><i class="icon icon-linkedin"></i></a></p>
					<span class="hover-text font-light ">linkedin</span></a>
				</div><!-- /col12 -->
				<!-- <div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
					<span class="hover-text font-light ">@BlackTie_co</span></a>
				</div><!-- /col12 -->
				<div class="col-12 col-sm-2 with-hover-text">
					<p><a target="_blank" href="https://github.com/stephpena/"><i class="icon icon-github"></i></a></p>
					<span class="hover-text font-light ">github</span></a>
				</div><!-- /col12 -->
				<div class="col-sm-1 hidden-sm">&nbsp;</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /Slide 6 -->


<!-- Table scripts -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://koalyptus.github.io/TableFilter/assets/js/bootstrap.min.js"></script>
</body>

	<!-- SCRIPTS -->
	<script src="../static/js/html5shiv.js"></script>
	<script src="../static/js/jquery-1.10.2.min.js"></script>
	<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../static/fancybox/jquery.fancybox.pack-v=2.1.5.js"></script>
	<script src="../static/js/script.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
	<!-- fancybox init & added scripts -->
	<script src="../static/js/app.js"></script>
	<!-- table script -->
	<script type="text/javascript" charset="utf-8" async="" src="../static/js/tf-0-2cb22dac7c11cbd22792.js"></script>

</html>
